@font-face{
    font-family: font3;
    src:url(../../assets/fonts/Raleway-Medium.ttf);
    }
  
    @font-face{
        font-family: font1;
        src: url(../../assets/fonts/Lobster-Regular.ttf);
      }
   

.basic-navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    padding-right: 5%;

}
.navbar-custom{
    background-color: transparent !important; 
    border: none; 
    box-shadow: none;
    padding: 1%;
    height: 8%;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 0.8%;
    width: 80%;
    position: fixed;
    left: 10%;
  }

.links{
    width: 45%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.navbar-custom .navbar-brand{
color: #fff ; 
padding-left: 3%;
font-family: font1;
}

.navbar-custom .nav-link {
color: #fff ; 
font-family: font3;
padding: 0.5rem 1rem;
font-size: 1.2vw;
transition: color 0.3s ease-in-out;
}


.dark {
    background-color: #171025cf ! important;
}

.active-link {
    border-bottom: 2.5px solid rgb(241, 192, 192);
}
    
.navbar-custom .nav-link:hover {
color: rgb(241, 192, 192); 
}

.navbar-toggler-icon{
   width: 90%;
   height: 90%;

    background-color: #f19caa;
}



.toggler {
    color: #f19caa;
    border-color: #f19caa;
    background-color: #f19caa;
    height: 40px;
    width: 40px;
    border-radius: 50%; /* Rounded button */
    margin-right: 1%;
}

.toggler:hover{
    background-color: #f19caa;
}

@media (max-width: 991px) {
    .navbar-custom {
        width: 100%;
        left: 0;
        padding: 10px 20px;
    }

    .navbar-custom .nav-link {
        font-size: 2vw !important; /* Make links larger for mobile */
        width: fit-content;
        margin: 3% 5%;
    }

    .navbar-collapse {
        margin: 2% 1%;
        background-color: #25101acf;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}