@font-face{
  font-family: font3;
  src:url(./assets/fonts/Raleway-Medium.ttf);
  }

.app{
  width: 100%;
  height: 500vh;
  margin:0;
  padding:0;
  background-image: url('./assets/bg1.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  overflow: hidden; 
  position: relative;
}

.home{
  width: 100%;
  height: 100vh;
  margin:0;
}


.frm2{
  width: 10%;
  height: 7% !important;
  position: absolute;
  right: -8% !important;
  bottom: 30% !important;
  opacity: 1;
}
  


.frm1{
  width: 14%;
  height: 8%;
  position: absolute;
  left: -8%;
  bottom: 50%;
  opacity: 1;
}

.frm11{
  width: 14%;
  height: 8%;
  position: absolute;
  right: -8%;
  bottom: 60%;
  opacity: 1;
}


.about{
  width: 100%;
  height: 100vh;
  background-color: white;
  border-top-left-radius: 200px;
}

.about-dark{
  background-color: rgba(18, 9, 32, 0.781);
  width: 100%;
  height: 100vh;
  border-top-left-radius: 200px;
}


.tools{
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-color: white;

}

.tools-dark{
  background-color: rgba(18, 9, 32, 0.781);
  width: 100%;
  height: 100vh;
  display: inline-block;
}


.projects{
  width: 100%;
  height: 100vh;
  background: white;
  border-bottom-right-radius: 200px;
  
}

.projects-dark{
  background-color: rgba(18, 9, 32, 0.781);
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 200px;
}

.contact{
  width: 100%;
  height: 100vh;
}


.theme {
  display: flex;
  position: absolute;
  flex-direction: column;
  right:2%;
  top:0.8%;
}

.theme__toggle-wrap {
  margin: 0 0.75em;
  position: relative;
}

.theme__toggle {
  width: 45px;
  height: 10px;
  background-color: hsl(30, 25%, 98%);
  border-radius: 20px;
  padding: 0.25em;
  appearance: none;
  position: relative;
  transition: background-color var(--transDur), transform var(--transDur);
}

.theme__toggle:before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  background-color: hsl(336, 74%, 69%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background-color var(--transDur), transform var(--transDur);
}

.theme__toggle:checked {
  background-color: hsla(320, 20%, 97%, 0.45);
}

.theme__toggle:checked:before {
  background-color: hsl(336, 88%, 84%);
  transform: translateY(-50%) translateX(1.5em);
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

.cont{
  color: white;
  text-align: center;
  font-family: font3;
  font-size: 1vw;
}
